// styles.scss

.footer {
  //background-color: #183021;
  background-image: url('../img/layout/footer-bg.png');

  &__logo {
    max-width: 100%;
  }

  &__description {
    font-size: 18px;
    line-height: 24px;
    text-align: right;

    span {
      color: #5ba72f;
    }
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
    margin-bottom: 16px;
  }

  &__list {
    li {
      font-size: 18px;
      line-height: 19.22px;
      text-align: right;
      margin-bottom: 16px;
    }
  }
}
