.header {
  position: relative;
  &__logo {
    margin-inline-end: 30px;

    img {
      height: 100%;
    }
  }

  &__mobile {
    display: none;

    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background-color: $secondary-color;
    top: 0;
    bottom: 0;

    &__change-lang {
      color: $primary-color;
    }
  }

  &__mobile-nav {
    display: none;
    background-color: #174e30;
    color: $color-grey;
    // border-top: 1px solid $color-light-grey;
    // border-bottom: 1px solid $color-light-grey;
    box-shadow: $main-box-shadow;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;

    @include media-breakpoint-down(lg) {
      display: block;
    }

    &__burger-menu {
      font-size: rem(25);
      color: #fff;
      margin-#{$right}: 20px;
    }

    &__logo img {
      height: 45px;
    }

    &__account {
      font-size: rem(25);
      width: 45px;
      height: 45px;
      background-color: $primary-color;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-white;
      margin-#{$right}: 20px;

      &:hover {
        color: $color-white !important;
      }
    }

    &__account-dropdown {
      padding: 10px;
      a {
        display: block;
        text-align: #{$left};
        margin-bottom: 10px;
      }
    }

    #searchMobile {
      width: 0;
      height: 0;
      transition: all 1s ease-in-out;
    }
  }

  &__navbar {
    &--top {
      background-color: rgba(#0a0d04, 0.35);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 999;

      &__container {
        display: flex;
        align-items: center;
      }

      &__links {
        display: flex;
        align-items: center;

        &__item {
          &__link {
            font-size: 18px;
            border-bottom: 1px solid transparent;
            transition: all 0.3s ease-in-out;
            padding: 40px;
            display: block;

            &.active,
            &:hover {
              color: #5ba72f;
              border-color: #5ba72f;
            }
          }
        }
      }

      &__actions {
        display: flex;
        align-items: center;
        flex: 1;
        margin-inline-start: 100px;
        column-gap: 20px;
      }
    }

    @include media-breakpoint-down(sm) {
      &--top {
        display: none;
        padding-inline-start: 0;

        &__container {
          padding: 0;
          justify-content: center;
        }
        &__items,
        &__actions {
          display: none;
        }
      }
    }
  }

  &__hero {
    height: calc(100vh);
    background-image: url(../img/hero.png);
    background-size: cover;
    background-position: center;
    position: relative;

    &__title {
      font-size: 64px;
      margin-bottom: 23px;
    }

    &__description {
      font-size: 20px;
      font-weight: 400;
      line-height: 1.9;
      text-align: right;
      margin-bottom: 23px;
      width: 70%;
    }

    &__swiper {
      width: 100%;
      height: 100%;
      position: relative;

      &__controls {
        bottom: 100px;
        position: relative;
      }

      .swiper-slide {
        opacity: 0 !important;
      }

      .swiper-slide-active {
        opacity: 1 !important;
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
        height: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        position: relative;

        .slide-content {
          @extend .container;
        }
      }
    }
  }

  @include media-breakpoint-down(sm) {
    &__logo {
      display: none;
      position: static;
      margin-inline-end: 0;
    }

    &__hero {
      height: 100vh;
      background-image: url(../img/hero-mobile.png);
      background-position: top;
      background-size: 100%;
      background-repeat: no-repeat;
      background-color: #195a38;
    }
  }
}
